{% extends "app/base.html" %}

{% block content %}
<div class="px-4">
    <h1 class="my-3">Welcome to euGENia variant analisation tool!</h1>

    <dl>
        <dt class="mb-2">How to start using the system:</dt>

        <dd>
            <ol>
                <li>Please refer to the <strong>euGENia</strong> administrator to be registered as a user. <em>Only
                        authorised
                        users</em> can use the
                    system.</li>
            </ol>
        </dd>
        <dt class="mb-2">Main sections:</dt>
        <dd>
            <ol>
                <li class="mb-2">In the top part of the system the main sections of the euGENia system are displayed.
                    They are
                    <strong>Variants</strong>,
                    <strong>Samples</strong>,
                    <strong>Documentation</strong> and <strong>About</strong>. In the top right corner you can see your
                    username and the corresponding list of
                    functions. You
                    can see your user profile there, as well as log out from the system.
                </li>
                <li class="mb-2"><strong>Variants</strong> page contains the list of main information about each genetic
                    variant. It
                    is
                    also possible to
                    filter variants</li>
                and export the results into a separate file. More detailed description will be provided further.
                <li class="mb-2"><strong>Samples</strong> page contains the list of all samples and their corresponding
                    experiment.
                    More
                    detailed
                    description
                    will be
                    provided further.</li>
                <li class="mb-2"><strong>Documentation</strong> page contains user guide to find basic information about
                    system's
                    functionality. More
                    detailed
                    description
                    will be provided further.</li>
                <li class="mb-2"><strong>About</strong> page contains basic information about the euGENia system.</li>
            </ol>
        </dd>
    </dl>
</div>
{% endblock %}